body{/*отвечает за весь документ*/
    font-family: 'Open Sans', sans-serif;//*Подключение шрифта*/
    margin: 0;
}

.heder{
    width: 100%;
    height: 90px;
    padding: 0 140px;
    box-sizing: border-box;/* убирает увелиние бордеров и бадингов, добовляем всегда*/
    display: flex;/*выравнивание элементов*/
    justify-content: space-between;
    align-items:center;
}
.links{        
    height: 100%;/*высота блока*/
    float: right;/* Позиционирование*/
    display: flex;
    align-items: center;/*вертикаль*/
    justify-content: start;/*горизонать*/
}
.links-item{
    text-transform: capitalize;/*делает заглавные буквы*/
    text-decoration: none;/*убрать подчеркивание*/
    color: #6c6c6c ;/*решетку ставить перед кодом при копировании обязательно*/
    font-size: 20px;
    margin-right: 38px;/*отступ вправо*/
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    transition: 0.35s;
   
}
.links-item: last-child{
    margin-rigth:0;
    

}
.links-item-active{ /*подсветка*/
border-bottom: 3px solid #5094f2;

}
.links-item:hover{
    border-bottom: 3px solid rgba(80,148,242,0.5)

}
.banner{
    width: 100%;
    height: 480px;
    background-image: url("/images/fon1.jpg");/* найти картинку*/
    background-repeat:no-repeat ;/*отключить искажение картинки*/
    background-size: cover; /* установить размер картинки внутри блока, cover- заполнение(растяжение)*/
    background-position: center;   /**/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;/*отступы*/
    box-sizing: border-box;


}
.test{
    width: 100%;
    height: 100%;
}
.arrow arrow-rigth{
transform: rotate(180deg);/*поворот стрелки*/

}
.arrow{
    transition: 0.45s;
    cursor: pointer;
}
.arrow-rigth:hover{
transform: scale(1.3);/*маштаб картинки*/
}
.arrow-left:hover{
    transform: scale(1.3);
}
.text{
    color: white;
font-size: 26px;
margin-left: 100px;
display: flex;
flex-direction: column;/*ставит в колонку */


}
.banner-content{
display: flex;
align-items: center;
justify-content: center;

}
.text-big{
font-size: 42px;
margin-bottom: 25px;


}
.text-small{
    line-height: 45px;/*отступ между строчками*/
}
.button{
width: 170px;
height: 40px;
background-color: #5094f2;
border-radius: 3px;
cursor: pointer;
font-size: 22px;/* размер шрифта*/
display: flex;
justify-content: center;
align-items: center;
margin-left: 12px;
margin-top: 40px;
}
.button-img{
    margin-right: 10px;

}
.service{
    width: 100%;
    height: 410px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-item{
height: 270px;
width: 250px;
display: flex;
flex-direction: column;/* все в колонку*/
align-items: center;
justify-content: space-between;

}
.circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue{
    background: #5094f2;
}
.red{
    background:#d94748 ;
}
.yellow{
    background: #ebbb11;
}
.service-title{
    color:  #5094f2;
    font-size: 20px; /* размер шрифта*/
}
.service-desc{
    font-size: 14px;
    color: #909090;
    text-align: center;/*выравнивание текста по центру*/
}
.cart{
    width: 100%;
    height: 430px;
    box-sizing: border-box;
    padding: 0 180px 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-title{
    font-size: 42px;
    color: #6f7173;
    margin-bottom: 34px;
}
.cart-image{
    display: flex;
    align-items: center;
    justify-content: center;/* выравнивание по вертикали*/
    flex-direction: column;
    margin-right: 90px;
}
.cart-info{
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    box-sizing: border-box;
}
.info-title{
    font-size: 26px;
    color:#6f7173 ;
    margin-bottom: 36px;
}
.info-text{
    font-size: 15px;
    color:#999999;
    line-height: 40px;/* отступ между строк*/
    letter-spacing: -1px;/*отступ между буквами*/

}